body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.instructionsPanel {
    background: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.leftPanel {
    background: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
    text-align: center;
}

.rightPanel {
    background: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.cowOne {
    padding: 0;
}

.cowTwo {
    padding: 0;
}

.cowThree {
    padding: 0;
    height:100%;
}

.cowFour {
    padding: 0;
}