body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.instructionsPanel {
    background: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.leftPanel {
    background: gray;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /* padding:20px; */
    text-align: center;
}

#targetNumber {
    padding:20px;
}

.rightPanel {
    background: gray;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /* padding: 20px; */
    text-align: center;
}

.cowOneImage {
    padding: 10px;
    text-align: right;
}

.cowTwoImage {
    padding: 10px;
}

.cowThreeImage {
    padding: 10px;
    text-align: right;
}

.cowFourImage {
    padding: 10px;
}